@model PaskolProd.Models.TagViewModel
@{
    ViewBag.Title = "ניהול קטגוריות";
    Layout = "~/Areas/Admin/Views/Shared/ManagerLayout.cshtml";
}
<h2>עריכת קטגוריית תיוג</h2>
<div class="row">
    <div class="col-lg-6 col-lg-offset-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ParentTagID)
                @Html.HiddenFor(model => model.IsCanDelete)
                @Html.HiddenFor(model => model.IsDynamic)
                @Html.HiddenFor(model => model.Level)
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ViewOrder, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.ViewOrder, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ViewOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    <div class="input-group" style="direction: ltr;text-align:left">
                        <input autocomplete="off" type="text" class="form-control" disabled placeholder="@Html.DisplayNameFor(model => model.IsPublicTag)">
                        <span class="input-group-addon">
                            @Html.EditorFor(model => model.IsPublicTag)
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.IsPublicTag, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input autocomplete="off" type="submit" value="שמור" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a href="/Admin/Tags/?id=@(Model.ParentTagID)&sortDesc=@(Model.SortDesc.ToString())&sortByName=@(Model.SortByName.ToString())" class="btn btn-default">חזור לרשימה</a>
</div>
@Scripts.Render("~/bundles/js")
@Scripts.Render("~/bundles/jqueryval")